{% extends "user/base.html" %}
{% block content %}
<form action="{% url "commande" %}" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Submit" />
</form>
<table>
    <tr>
        <td>Produit</td>
        <td>Quantité</td>
        <td>         </td>
    </tr>
    {% for l in link_commandes %}
    <tr>
        <td> {{l.product}}</td>
        <td> {{l.quantity}}</td>
        <td> 
            <form action="{% url "delete_linkcommande" l.pk %}" method="post">
                {% csrf_token %}
                <input type = "submit" value = "Supprimer"/>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>
<form action="{% url "end_commande"  commande.profil.user.username %}" method="post">
    {% csrf_token %}
    <input type = "submit" value = "Terminer la commande"/>
</form>

{% endblock %}
