{% extends "cityAdmin/base.html" %}

{% load leaflet_tags %}
{% load static %}
{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% block css_file %}{% static "cityAdmin/map.css" %}{% endblock %}
{% endblock %}

{% block content %}
    <h1 class = "center">Commandes</h1>
    {% leaflet_map "main" callback="main_map_init" %}
    <script type="text/javascript">
        function main_map_init (map, options) {
            var coord = {{ coord | safe }};
            map.setView(new L.LatLng(46.865836, 2.419239), 5);
            for(const [key,value] of Object.entries(coord)){
                L.marker([parseFloat(key),parseFloat(value)]).addTo(map);
            }
        }
</script>
{% for c in commandes %}
    <button type="button" class="collapsible">
        {{c.0}} , {{c.1}}<br>
    </button>
    <div class="commande_content">
        {% for c_str in c %}
        {% if c_str != c.0 and c_str != c.1 %}
            {{c_str}}<br>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
{% endblock %}
